<!doctype html>
<html ng-app>

<head>
	<meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="todo.js"></script>
    <link rel="stylesheet" href="todo.css">
	<style>
		body {
			font: 1.15em/1.5em normal 'Cambria', sans-serif, Time New Roman;
		}
	</style>
</head>

<body>
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        <form ng-submit="addTodo()">
            <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
		<p>
			Hàng tiền vệ chỉ có thể là chính mình khi Michael Carrick đá đúng vị trí sở trường. Trong trường hợp Michael Carrick không thể ra sân hoặc đá ở vị trí phòng ngự thì hàng tiền vệ của MU tỏ ra lép vế hoàn toàn so với đối phương.
		</p>
		<p>
			Hàng thủ thiếu chắc chắn thì vai trò của hàng công càng lớn nhưng khi mà Falcao liên tục chấn thương, Rooney phải đảm đương rất nhiều vai trò, Van Persie thi đấu không ổn định, James Wilson còn non kinh nghiệm thì MU sẽ có thể ghi được bao nhiêu bàn để bù đắp?
		</p>
		<p>
			Với những điều đó, dù MU có lành lặn tất cả quân số cũng chưa chắc dành được những chiến thắng liên tục để cạnh tranh ngôi vô địch chứ chưa nói gì đến tình trạng chấn thương nhiều như hiện tại. Việc Van Gaal tuyên bố không mua sắm trên thị trường chuyển nhượng mùa đông vì đội hình hiện tại đã chất lượng có thể sẽ là một sai lầm?
		</p>
    </div>
</body>

</html>
